@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-extraDarkBlue {
    background-color: #141857;
  }

.fuchsiaBlue:hover{
  background-color: #7156F5;
}  

.bg-blue {
  background-color: #19248F;
}